<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Folders</h2>
        <ul class="list-group">
          <app-folder *ngFor="let folder of folders; let i = index;"
                    [index]="i"
                    [id]="folder.folderId"
                    [folderName]="folder.title"></app-folder>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <input placeholder="New Folder" type="text" id="title" class="form-control" name="title" ngModel required>
          <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
        </form>
      </div>
    </div>
</div>