<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Folders</h2>
        <ul class="list-group">
          <li *ngFor="let folder of folders" class="list-group-item">
            <label [for]="folder.folderId">{{ folder.title }}</label>
            <a [routerLink]="folder.folderId">View Items</a>-
            <a [routerLink]="" (click)="delete(folder.folderId)">Remove</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <input placeholder="New Folder" type="text" id="title" class="form-control" name="title" ngModel required>
          <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
        </form>
      </div>
    </div>
</div>