<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2> {{ currentFolder.title }} </h2>
        <ul class="list-group">
          <!---
          <app-task *ngFor="let task of tasks; let i = index;"
                    [index]="i"
                    [id]="task.taskId"
                    [done]="task.done"
                    [taskName]="task.title"></app-task> -->
          <li *ngFor="let task of tasks" class="list-group-item" >
            <input type="checkbox" [id]="task.taskId" [checked]="task.done" (change)="fieldsChange($event, task)">
            <label [for]="task.taskId">{{ task.title }}</label>
            <a [routerLink]="['tasks',task.taskId]">Edit</a>
            <a [routerLink]="" (click)="delete(task.taskId)">Remove</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <input placeholder="New Task" type="text" id="title" class="form-control" name="title" ngModel required>
          <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
        </form>
        <button class="btn btn-primary" [routerLink]="'/folders'">Back</button>
      </div>
    </div>
</div>